.idea
.idea/*
target
target/*
/.idea/
storage/storage.iml
tracker/tracker.iml
common/common.iml
tests/tests.iml
storage/mybear-storage.iml
tracker/mybear-tracker.iml
common/mybear-common.iml
tests/mybear-tests.iml
MyBear.iml




common/src/main/resources/
common/src/test/
storage/src/test/
tests/src/main/
tracker/src/test/
